body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 100;
  font-size: 1.4em;
  background-color: #efefef;
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0px;
}

#sentence-outer {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
}

input, textarea, select {
  font-family: 'Open Sans', sans-serif;
  font-weight: 100;
  font-size: 1em;
  background: none;
  border: none;
  border-bottom: 2px solid #d5d5d5;
  padding: 0px 10px 0px 0px;
  outline: none;
  color: #b3b3b3;
  -webkit-transition: all 800ms ease, width 200ms ease;
  transition: all 800ms ease, width 200ms ease;
  display: none;
  border-radius: 0px;
}

input {
  width: 50px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: '';
}

.submission {
  display: block !important;
  padding-top: 10px;
  width: 100% !important;
}

.submission button {
  border: 1px solid #b3b3b3;
  color: #b3b3b3;
  background: transparent;
  padding: 5px 10px;
  font-size: 1em;
  font-weight: 100;
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
  cursor: pointer;
  outline: 0;
}

.submission button:hover {
  color: #333;
  border-color: #333;
}

select::-ms-expand {
  display: none;
}

.sentence-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  line-height: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  height: 100%;
  -webkit-transform: scale(1);
          transform: scale(1);
  opacity: 1;
  -webkit-transition: all 400ms ease-in;
  transition: all 400ms ease-in;
}

.sentence-container.sending {
  -webkit-transition: all 400ms ease-in;
  transition: all 400ms ease-in;
  -webkit-transform: scale(0);
          transform: scale(0);
  opacity: 0;
}

.sentence-container div.section, .sentence-container div.submission {
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
  color: #b3b3b3;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: width 800ms ease, opacity 800ms ease, height 0ms;
  transition: width 800ms ease, opacity 800ms ease, height 0ms;
  width: 0px;
  height: 0px;
  position: relative;
}

.sentence-container div.section.shown, .sentence-container div.submission.shown {
  visibility: visible;
  opacity: 1;
  width: auto;
  height: auto;
}

.sentence-container div.section.shown input, .sentence-container div.section.shown select, .sentence-container div.section.shown textarea, .sentence-container div.submission.shown input, .sentence-container div.submission.shown select, .sentence-container div.submission.shown textarea {
  display: inline-block;
}

.sentence-container div.section.shown input.custom_answer:not(.active), .sentence-container div.section.shown select.custom_answer:not(.active), .sentence-container div.section.shown textarea.custom_answer:not(.active), .sentence-container div.submission.shown input.custom_answer:not(.active), .sentence-container div.submission.shown select.custom_answer:not(.active), .sentence-container div.submission.shown textarea.custom_answer:not(.active) {
  display: none;
}

.sentence-container div.section.complete, .sentence-container div.submission.complete {
  color: #333;
}

.sentence-container div.section.complete input, .sentence-container div.section.complete select, .sentence-container div.section.complete textarea, .sentence-container div.submission.complete input, .sentence-container div.submission.complete select, .sentence-container div.submission.complete textarea {
  color: #333;
  border-bottom-color: transparent;
  padding-right: 0px;
}

.sentence-container div.section.complete input:hover, .sentence-container div.section.complete select:hover, .sentence-container div.section.complete textarea:hover, .sentence-container div.submission.complete input:hover, .sentence-container div.submission.complete select:hover, .sentence-container div.submission.complete textarea:hover {
  color: #34bd27;
}

.sentence-container div.section.complete input.invalid:focus, .sentence-container div.section.complete select.invalid:focus, .sentence-container div.section.complete textarea.invalid:focus, .sentence-container div.submission.complete input.invalid:focus, .sentence-container div.submission.complete select.invalid:focus, .sentence-container div.submission.complete textarea.invalid:focus {
  border-bottom-color: #e64444;
}

.sentence-container div.section.complete input.valid:focus, .sentence-container div.section.complete select.valid:focus, .sentence-container div.section.complete textarea.valid:focus, .sentence-container div.submission.complete input.valid:focus, .sentence-container div.submission.complete select.valid:focus, .sentence-container div.submission.complete textarea.valid:focus {
  border-bottom-color: #34bd27;
}

.sentence-container div.section.invalid input, .sentence-container div.section.invalid textarea, .sentence-container div.section.invalid select, .sentence-container div.submission.invalid input, .sentence-container div.submission.invalid textarea, .sentence-container div.submission.invalid select {
  border-bottom-color: #e64444;
}

.sentence-container div.section.valid input, .sentence-container div.section.valid textarea, .sentence-container div.section.valid select, .sentence-container div.submission.valid input, .sentence-container div.submission.valid textarea, .sentence-container div.submission.valid select {
  border-bottom-color: #34bd27;
}

.sentence-container div.section .answer-container, .sentence-container div.submission .answer-container {
  display: inline-block;
}

.sentence-container div.section .tooltip, .sentence-container div.section .custom-tooltip, .sentence-container div.submission .tooltip, .sentence-container div.submission .custom-tooltip {
  position: absolute;
  bottom: -35px;
  right: 0px;
  font-size: 0.5em;
  font-weight: 300;
  opacity: 0;
  -webkit-transition: all 800ms ease;
  transition: all 800ms ease;
}

.sentence-container div.section .tooltip.active, .sentence-container div.section .custom-tooltip.active, .sentence-container div.submission .tooltip.active, .sentence-container div.submission .custom-tooltip.active {
  opacity: 1;
  bottom: -25px;
}

.sent-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  line-height: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  height: 100%;
  -webkit-transform: scale(2);
          transform: scale(2);
  opacity: 0;
  -webkit-transition: all 400ms ease-in;
  transition: all 400ms ease-in;
}

.sent-container.sent {
  -webkit-transform: scale(1);
          transform: scale(1);
  opacity: 1;
  -webkit-transition: all 400ms ease-out;
  transition: all 400ms ease-out;
}

.sent-container .reset {
  cursor: pointer;
  color: #b3b3b3;
  display: block;
  width: 100%;
  -webkit-transition: color 400ms ease;
  transition: color 400ms ease;
}

.sent-container .reset:hover {
  color: #333;
}

#sizer {
  position: absolute;
  top: 0;
  visibility: hidden;
}
